$yellow: cornsilk;
.post {
    .user_list {
        background-color: $yellow;
        padding: 30px 10px;
    }
    .all_post {
        padding: 30px;
    }
    .user_box {
        padding: 5px;
    }
}